@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PDF Generation 101!</h1>
    <p>This project gives a brief introduction to Quest PDF. You can find more information about this library at <a href="https://www.questpdf.com/" target="_quest">https://www.questpdf.com/</a></p>
    <a href="@Url.Page("Index", "DownloadSimplePDF")">Download Simple PDF</a><br />
    <a href="@Url.Page("Index", "DownloadTablePDF")">Download Table PDF</a><br />
    <a href="@Url.Page("Index", "DownloadComponentPDF")">Download Component PDF</a><br />
</div>
